@import url('../../root.css');

body {
    background-color: var(--minerva-color-azul-400);
}

.formLogin {
    display: grid;
    margin: auto;
    height: 100vh;
    place-items: center;
}

.corpoForm {
    width: 40rem;
    max-width: 100%;
}