.paginaBase {
    --menu-ativo: 8rem;
    display: grid;
    height: auto;
    min-height: 100vh;
    grid-template-rows: 7rem 1fr;
    grid-template-columns: 24rem 1fr ;
    grid-template-areas:
        "bl bn   bn"
        "bl cont cont"
        "bl cont cont";
}

.barraNavegacao {
    grid-area: bn;
}

.barraLateral {
    grid-area: bl;
    cursor: pointer;
    width: 100%;
}

.corpo {
    grid-area: cont;
    background: var(--bg-grey);
}

@media screen and (max-width: 450px) {
    .paginaBase{grid-template-columns: 0 1fr ;}
}
