.paginaBase {
    --menu-ativo: 8rem;
    display: grid;
    height: 100vh;
    grid-template-rows: 8rem 1fr;
    grid-template-columns: 24rem 1fr ;
    grid-template-areas:
        "bl bn   bn"
        "bl cont cont"
        "bl cont cont"
        ;
    transition: 0.5s;
}

.barraNavegacao {
    grid-area: bn;

}

.barraLateral {
    grid-area: bl;
    cursor: pointer;
}


.corpo {
    grid-area: cont;
}

@media screen and (max-width: 450px) {
    .paginaBase{grid-template-columns: 0 1fr ;}
}

