label {
    width: 100%;
    display: block;
    padding: .8rem 0;
    font-size: 1.4rem;
    text-align: center;
}

input {
    width: 100%;
    padding: 0.8rem 0;
    text-align: center;
    font-size: 1.4rem;
    border-radius: .4rem;
    border: var(--form-border-grey) solid .1rem ;
}

input:focus {
    outline: var(--form-border-focus-grey) solid .1rem;
}