.Container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--minerva-color-azul-700);
}

.LogoMinerva {
    padding: .8rem;
    width: 80%;
}

.Section {
    height: 2.4rem;
    font-size: 1.2rem;

}

.Section * {
    display: grid;
    align-items: center;
    height: 2.4rem;
    padding: 0 0 0 1.2rem;
    transition: .5s;

}

.Section * {
    text-decoration: none;
    color: var(--font-color-white);
}

.Section *:hover {
    background-color: var(--minerva-color-azul-400);
    transition: .5s;
}

@media screen and  (max-width: 450px){
    .Section{
        display: none;}
}

