@import "bootstrap-icons/font/bootstrap-icons.css";

.Container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--minerva-color-red-500);
}

.LogoMinerva {
    width: 80%;
    height: 1.8rem;
    margin: 2.4rem auto;
}

.Title {
    color: var(--font-color-white);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: 1.2rem .4rem 1.2rem 1.4rem;
}

.Section {
    height: 2.4rem;
    font-size: 1.2rem;
}

.Section * {
    display: grid;
    align-items: center;
    height: 2.4rem;
}

.Section * {
    text-decoration: none;
    color: var(--font-color-white);
}

.Section *:hover {
    background-color: var(--minerva-color-red-700);
}

.Option {
    display: flex;
    color: var(--font-color-white);
    padding-left: 1.2rem;

}

.OptionIcon {
    
}

.OptionText {
    padding-left: 1.2rem
    
}

@media screen and  (max-width: 450px){
    .Section{
        display: none;}
}
