.Table {
    width: 90%;
    align-self: center;
}

.Table table, th, td{
    border: var(--font-color-white) solid .1rem;
}

.TableHead {
    font-size: 1.6rem;
    color: var(--font-color-white);
    font-weight: 700;

}

.TableHeadValue th{
    align-items: center;
    height: 3.2rem;
    vertical-align: middle;
    background: var(--minerva-color-azul-700);

}

.TableBody {
    font-size: 1.6rem;
    color: var(--font-color-white);
    align-items: center;
}

.TableBody tr {
    transition: .3s;
}

.TableBody tr:hover {
    background: var(--minerva-color-azul-200);
    transition: .3s;
}

.TableBodyValue td{
    text-align: center;
    height: 2.4rem;
    vertical-align: middle;
}
.TableBodyValue td:hover{
    text-align: center;
    height: 2.4rem;
    vertical-align: middle;
}

.TableFoot {
    height: 3.2rem;
    border: var(--font-color-white) solid .1rem;
}

.TableFoot tr{
    font-size: 1.6rem;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
}

.TableFoot li{
    color: var(--font-color-grey-inative);
    text-decoration: none;
    list-style: none;
    padding: 1.2rem;

}

.TableFoot li{

    color: var(--font-color-grey-inative);
    text-decoration: none;
    cursor: pointer;
}
.TableFoot li:hover{
    color: var(--font-color-white);
    text-decoration: none;
    cursor: pointer;
}
