.Container {
    display: grid;
    height: 100%;
    grid-template-rows: 6rem 1fr 6rem;
    grid-template-areas: "h" "t" "f";
}

.Header {
    grid-area: h;
}

.Content {
    grid-area: t;
    display: flex;
    flex-direction: column;
}

.Footer {
    grid-area: f;
}

.Footer .Nav {
    display: flex;

}