.Nav {
    height: 6rem;
}

.FormWrapper {

    height: 100%;
    display: flex;
    justify-content: center;

}

.Form {
    width: 60%;
}

.Form label {
    color: var(--font-color-white);
    margin-top: 1.2rem;
}

.Form button {
    margin-top: 2.4rem
}

.InputCheckbox {
    display: grid;
    grid-template-columns: 5% auto;
    justify-content: start;
    align-items: baseline;
}

.InputCheckbox label {
    padding-left: .4rem;
}


