.BotaoNavBar {
    cursor: pointer;
    transition: .5s;
    border-radius: .4rem;
    color: var(--font-color-white);
    padding: .8rem;
    background: var(--minerva-color-red-500);
    text-align: center;
}
