.barra_navegacao {
    background-color: var(--minerva-color-palha-700);
    padding: 0 8rem;
    display: flex;
    align-items: center;
    height: 8rem;
    min-width: 100%;
}

.barra_navegacao .logo img{
    width: 12.8rem;
    height: 6.4rem;
}

.barra_navegacao h1 {
    padding: 1.6rem;
    display: inline-block;
}

.barra_navegacao li {
    display: inline-block;
    padding: .8rem;
    font-size: 2rem;
    border-radius: 1rem;
}

.barra_navegacao .opcoes li:hover {
    border-radius: 1rem;
    transition: 1s;
    cursor: pointer;
    color: var(--font-color-white);
}

.barra_navegacao ul li {
    display: inline-block;
    padding-left: .8rem;
}

.barra_navegacao .icones {
    display: inline-block;
}
  /* Layout Mobile */
@media screen and (max-width: 48rem) {

    nav {
        margin: 0;
    }
  .barra_navegacao {
      width: 100%;
      padding: 0;
  }
    h1  {
        text-align: center;
        padding-left: 0;
    }
    nav {
        position: static;
    }
  }
