.formWrapper {
    display: flex;
    flex-direction: column;
    padding: 3.2rem;
    border-radius: 2rem;
    border: #4f4f4f solid .2rem;
    background-color: var(--primary-color);
    box-shadow: .5rem .5rem .5rem var(--minerva-color-azul-700) ;

}

.corpoForm form {
    width: 40rem;
    height: 30rem;
}

.formWrapper h1 {
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    margin: 1.6rem 0;
}

.formWrapper img {
    display: flex;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.formWrapper hr {
    margin-top: 1.6rem;
}

.formWrapper a {
    display: block;
    text-align: center;
    margin-top: .8rem;
}

.formWrapper label {
    width: 100%;
    display: block;
    padding: .8rem 0;
    font-size: 1.6rem;
    text-align: center;
}

.formWrapper input {
    width: 100%;
    padding: 0.8rem 0;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 2rem;
    border: var(--minerva-color-azul-200) solid .1rem ;
}

.formWrapper input:focus {
    outline: var(--minerva-color-azul-200) solid .1rem;

}




