.Content {
    align-self: center;
    width: 95%;
}

.ContentWrapper {
    background: var(--bg-white);
    padding: 2.4rem;
}

.Table {
    width: 100%;
    color: var(--font-color-grey);
}

.Table table, td{
    border: var(--table-body-border) solid .1rem;
}

.TableHead {
    font-size: 1.4rem;
    background: var(--table-header);
    color: var(--table-header-font);
    font-weight: 700;
}

.TableHeadValue th{
    align-items: center;
    height: 3.2rem;
    vertical-align: middle;
}

.TableHeadValueId{
    width: 8rem;
}

.TableHeadValueFunctions{
    width: 16rem;
}


.TableBody {
    font-size: 1.4rem;
    align-items: center;
}

.TableBodyValue:nth-child(odd){
    background: var(--table-body-bg-nth-child);
}

.TableBody tr {
    transition: .3s;
}

.TableBodyValue td{
    text-align: center;
    height: 2.4rem;
    vertical-align: middle;
}

.TableBodyValue button:hover{
    color: var(--font-color-grey);
}

.TableIcon {
    padding-right: .2rem;
}

.TableFoot {
    height: 3.2rem;

}

.TableFoot {
    font-size: 1.6rem;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
}

.TableFoot li{
    color: var(--font-color-grey-inative);
    text-decoration: none;
    list-style: none;
    padding: 1.2rem;
}

.TableFoot li{
    color: var(--font-color-grey-inative);
    text-decoration: none;
    cursor: pointer;
}

.TableFoot li:hover{
    color: var(--font-color-grey);
    text-decoration: none;
    cursor: pointer;
}
