.Header {
    background-color: var(--bg-subnavbar);
    height: 100%;
    border-bottom: 1px solid var(--topbar-submenu-border);
}

.NavHeader{
    display: flex;
    width: 95%;
    margin: 0 auto;
    font-size: 1.4rem;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}


.NavHeader li {
    display: flex;
}

.NavHeader p {
    list-style: none;
    text-decoration: none;
    color: var(--font-color-grey);
}



.NavHeader p {
    font-weight: 700;
}